@import url('https://gamesense.wiki/static/css/gamesense.theme.css?v=1.0.4');
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://i.imgur.com/FLI3MoC.jpg'); /* Replace 'background.png' with your image file */
    background-size: cover;
    background-position: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header {
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    padding: 20px;
    text-align: center;
    width: 100%;
}

main {
    padding: 20px;
}

.downloads {
    margin-bottom: 30px;
}

.downloads h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.download-options {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.download-options button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.download-options button:hover {
    background-color: #0056b3;
}

footer {
    background-color: rgba(51, 51, 51, 0.8);
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
}